.payway{
	width: 100%;
	min-height:600px ;
	background: $workspaceBgColor;
	box-sizing: border-box;

	.head{
		width: 100%;
		height: auto;
		background: white;
		margin-bottom:30px ;
		border-top: 1px solid $headNavColor-active;
		.step {
		background:  white;
		/deep/.el-steps--simple{
			padding: 25px 3%;
			margin-top: 0 !important;
			background: white;
			width:$mainWidth;
			margin: 0 auto;
		}

		/deep/.el-step__head.is-success,/deep/.el-step__title.is-success{
			color: $headNavColor-active;
			border-color:$headNavColor-active;
		}
	}
	}


	.content{
		width: $mainWidth;
		margin:0 auto;
		// padding-top: 30px;
		box-sizing: border-box;
		background: $workspaceBgColor;

		.status{
			width: 100%;
			// height: 152px;
			height: 152px;
			box-sizing: border-box;
			background: white;
			padding: 25px 35px;
			margin-top: 31px;
			font-weight: 300;
			overflow: hidden;
			// transition: all .3s ease 0s;

			.result{
				font-size: 84px;
			}

			.msg{
				font-size: 16px;
				line-height: 24px;
				color:$normalTextColor ;

				&__title{
					font-size: 28px;
    			line-height: 60px;
				}
				.time{

					span{
						display: inline-block;
						width: 20px;
						text-align: center;
						color: $headNavColor-active;
					}
				}

				.address{
					span{
						margin-right: 20px;
					}
				}
			}

			.detail{
				text-align: end;
				font-size: 16px;
				line-height: 24px;
				color:$normalTextColor ;
				.total{
					.title{

					}
					.danwei{
						color: $headNavColor-active;
					}
					.price{
						font-size: 30px;
    				font-style: normal;
   		  		font-weight: 400;
						color: $headNavColor-active;
					}
				}

				.tools{
					cursor: pointer;
					margin-top: 10px;
					.arrow{
						font-size: 12px;
						font-weight: 600;
						margin-left: 5px;
					
					}
				}
			}

			.msg2{
				margin-top: 40px;
				line-height: 32px;
				.form{
					width: 100%;
					margin-top: 15px;

					.orderNum{
						font-weight: 400;
						color: $headNavColor-active;
					}

					div{
						width: 100%;
						.title{
							display: inline-block;
							width: 115px;
						}
					}

					.de{
						margin-right: 10px;
					}

					.product{
						display: flex;
						flex-direction: row;
						align-items: flex-start;
						justify-content: flex-start;
						ul,li{
							margin: 0;
						}
					}
				}
			}

			.goOrderCenter{
				position: absolute;
				bottom: 0;
				right: 10px;
				padding: 5px 15px;
				border: 1px solid $headNavColor-active;
				border-radius: 6px;
				cursor: pointer;
				font-weight: 400;
				transition: all .3s ease 0s;
			}

			.goOrderCenter:hover{
				color: white;
				background: $headNavColor-active;
			}
		}

		.status--active{
			min-height: 360px;
			height: auto;

		}

		.way{
			width: 100%;
			padding: 25px 35px;
			margin-top: 10px;
			background: white;
			box-sizing: border-box;
			.box{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 100%;

				.img{
				position: relative;
					width: 174px;
					height: 60px;
					border: 1px solid #E0E0E0;
					margin-right: 14px;
					cursor: pointer;
					transition: all .3s ease 0s;

					img{
						position: relative;
						width: 100%;
					}
				}

				.aliPay:hover{
					border: 1px solid $headNavColor-active;
				}

				.vxPay:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background-color: rgba(176,176 ,176 ,.5);
					z-index: 100;
				}
			}
		}
	}
}